body {
  background-color: #f9f9f9;
}

#nav-bar {
  text-align: center;
  background-color: black;
  padding: 30px;
  color: white;
}

.Links {
  border-color: black;
  border: solid;
  background-color: white;
  padding: 8px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 900;
  margin-left: 12px;
}

.Links:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.ImgHome {
  position: absolute;
  left: 400px;
  top: 200px;
}

.ProfilePic {
  border: none;
  float: left;
  margin-right: 50px;
  margin-top: 20px;
}

.MainTitle {
  margin: 200px auto 50px 100px;
  font-family: 'Parisienne', cursive;
  font-size: 50px;
  display: inline-block;
}

.Subheading {
  font-family: 'B612 Mono', monospace;
  font-size: 20px;
  margin: 0 0 350px 200px;
  display: inline-block;
}

.MyDescription {
  margin: auto;
  width: 60%;
  font-family: 'B612 Mono', monospace;
  font-size: 15px;
}
